@font-face {
    src: url('./assets/JaceBeleren-Bold.ttf');
    font-family: JaceBeleren-Bold;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url('./assets/magic-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

main p {
    font-family: JaceBeleren-Bold;
    font-size: 1.5em;
}

#firebaseui-auth-container {
    align-self: center;
    margin-top: 200px;
    width: 250px;
    height: 150px;
    background-color: rgba(173, 145, 89, 0.5);
}

#header-container img {
    width: 82px;
}

p {
    color: rgb(228, 222, 222);
}

